/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------------------------*/
body {
    overflow-y: scroll;
    display: none;
    background-color: #93BDF5 !important;
}

iframe {
    overflow: hidden;
}

.tblView {
    background-color: #93BDF5 !important;
}

.trToolbar, .newToolbar {
    height: 80px;
    background-color: #93BDF5;
    width: 100%;
    background-image: none !important;
}

/*Fix for inbox */
.trToolbar a:hover
{
    background-color: transparent !important;
}

#leftContentWrapper {
    width: 48%;
    position: relative;
    float: left;
    margin: 1%;
}

    #leftContentWrapper font {
        font-size: 13px !important;
    }

    #leftContentWrapper table:first-child {
        border-radius: 5px 5px 0px 0px;
        height: 50px;
    }

        #leftContentWrapper table:first-child td {
            vertical-align: middle;
        }



    #leftContentWrapper table:nth-child(2) {
        background-color: #fff;
        border-radius: 0px 0px 5px 5px;
    }

        #leftContentWrapper table:nth-child(2) td {
            padding-bottom: 5px;
        }

    #leftContentWrapper table tr:hover td {
        background-color: #122fff;
        cursor: pointer;
    }

    .tblFolderBar tr:hover td{
        background-color: transparent !important;
    }

#contentIframe {
    width: 100%;
    height: 100%;
}

#rightContentWrapper {
    position: relative;
    height: auto;
    width: 48%;
    float: right;
    margin: 1%;
    overflow: none;
}

    .trToolbar {
        background: #93BDF5 !important;
        height: 50px;
    }


        .trToolbar>td:first-child { border-top-left-radius: 5px; }
        .trToolbar>td:last-child { border-top-right-radius: 5px; }


        .trToolbar td {
            vertical-align: middle;
            background-color: #3D5FA3;
        }


        #idReadMessageHeaderTbl td{
            padding: 5px;
            font-size: 14px;
        }

        #idReadMessageHeaderTbl a font{
            padding: 5px;
            font-size: 14px;
            color: #ee2335 !important;
        }

            #idReadMessageHeaderTbl a:hover font{
                text-decoration: underline;
            }



        .tblMsgBody td{
            background-color: #fff !important;
            padding: 5px;
        }

            .tblMsgBody td font {
                line-height: 19px;
            }





.toolBarBtn {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 4px solid #ddd;
    border-radius: 4px;
}

    .toolBarBtn span {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 50px;
        text-transform: uppercase;
        font-size: 7px;
        text-align: center;

        font-family: verdana, sans-serif;
    }

    .toolBarBtn img {
        height: 50px;
        width: 50px;
    }

        .toolBarBtn:hover, .toolBarBtnClicked {
            border: 4px solid #444 !important;
            cursor: pointer;
        }

        .toolBarBtn:hover span, .toolBarBtnClicked span{
            visibility: visible;
        }

.mToolBarBtn {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 1px;
    margin: 5px;
    border: 2px dashed #ddd;
    border-radius: 4px;
}

    .mToolBarBtn img {
        height: 30px;
        width: 30px;
    }

    .mToolBarBtn:hover, .toolBarBtnClicked {
        border: 2px solid #ddd;
        cursor: pointer;
    }

    .mToolBarBtn:hover span, .toolBarBtnClicked span{
        visibility: visible;
    }


.mailLine {
    background-color: #1c94c4;
    padding: 7px;
    border-bottom: 2px solid #fff;
    margin: 7px !important;
}

.mailName, .mailTitle {
    color: #fff !important;
}

.mailName {
    font-size: 13px !important;
}

.mailTitle {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 15px !important;
    float: right;
    border-left: 1px solid #fff;
    width: 80%;
}

.mailDate {
    font-size: 12px;
    color: #000;
}